@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 16px;
}
:root{
    --clr-marigold: #f0a202ff;
    --clr-tangerine: #f18805ff;
    --clr-flame: #d95d39ff;
    --clr-oxford-blue: #0e1428ff;
    --clr-morning-blue: #7b9e89ff;
     --clr-white:#fffafa;
     --clr-black:#383838;
     --box-shadow: 0px 22px 12px rgba(0,0,0,0.15);

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
}

img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
 background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.card-container{
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow:var(--clr-marigold);
}

.info-container{
    margin-bottom: 1.5rem;
}
.info-container,.weapons-container{
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titles-container{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    gap: 0.25rem;
}
.score-container span {
    font-weight: 900;
}

.btn-weapon{
     margin-top: 1rem; 
   width: 4.5rem; 
   height: 4.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 3.5rem;
   background-color: var(--clr-marigold);
   border: 2px solid var(--clr-marigold);
   border-radius: 50%;
    box-shadow:  25px 25px 50px #bebebe,
   -25px -25px 50px #ffffff;
   cursor: pointer;
   transition: all 0.5s ease-out;
}

.btn-weapon:hover{
    transform: scale(1.05) translateY(-5px);
}

.result-container{
    min-height: 3rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
.result-container p {
    margin-bottom: 0.5rem;
}

@media screen  and (min-width : 470px){
    .card-container{
        width: 430px;
    }
}